.img{
    /* width: 10 !important; */
    height: 400px !important;
    align-items: center !important;

}
.black{
    background-color: #2c2c2cc5 !important;
}
marquee{
    color: rgb(202, 202, 202);
    font-size: 18px;
}
.About-us{
    display: flex;
    
}